.add-lesson {
  text-align: center;
}
.title-box {
  display: flex;
  gap: 10px;
}
.title-box__title {
  font-weight: 500;
}
.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}
.input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.123);
  font-weight: 300;
}
.input:focus {
  outline: none;
}
.input-unit {
  width: 70px;
}
.input-text {
  width: 100%;
}
.input-mark {
  width: 100px;
}
.input-unit::-webkit-outer-spin-button,
.input-unit::-webkit-inner-spin-button {
  display: none;
}
.input-mark::-webkit-outer-spin-button,
.input-mark::-webkit-inner-spin-button {
  display: none;
}
.add-lesson .submit {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 5px;
  margin-inline: auto;
  margin-top: 25px;
  padding: 8px;
  width: 180px;
  background-color: #65b151;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
