.all-lesson {
  width: 70%;
}
.all-lesson__head {
  display: flex;
  gap: 10px;
}
.all-lesson__icon {
  width: 20px;
}
.all-lesson__title {
  font-size: 15px;
  font-weight: 300;
}
.all-lesson__container {
  overflow-y:scroll ;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  padding: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.164);
  height: 400px;
}
.all-lesson__container::-webkit-scrollbar{
  width: 15px;
  padding: 10px;
}
.all-lesson__container::-webkit-scrollbar-thumb{
  background-color: rgb(214, 214, 214);
  border-radius: 500px;
  background-clip: padding-box;
  border: 5px white solid;
}
.nothing{
  font-weight: 300;
}