@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container{
  margin-inline: auto;
  max-width: 800px;
  padding: 25px;
}
.result-section{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
}
@media screen and (max-width:960px){
  .result-section{
    flex-direction: column;
  }
  .all-lesson,.result{
    width: 100%;
  }
  
}